@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100&display=swap');

.text-green{
  color: #14453d;
}


*{
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fcf9f4;
}